#!/usr/bin/env python
PACKAGE="masterslave"

from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
gen.add("AccelerationGain", double_t, 0, "AccelerationGain", 0.0000001, 0, 1)
gen.add("VelocityGain", double_t, 0, "VelocityGain", 0.0000001, 0, 1)
gen.add("AngleMaximumGain", double_t, 0, "AngleMaximumGain", 0.0000001, 0, 1)
gen.add("CollisionAvoidanceGain", double_t, 0, "CollisionAvoidanceGain", 0.0000001, 0, 1)
gen.add("SingularityAvoidanceGain", double_t,0, "SingulariryAvoidanceGain", 0.0000001, 0, 1);
gen.add("TrocarGain", double_t, 0, "TrocarGaiN", 1, 0, 1)
gen.add("TCPGain", double_t, 0, "TCPGain", 1, 0, 1) 
gen.add("MaxSpeed", double_t, 0, "maxJointSpeedoftheLBR",1, 0, 2)
exit(gen.generate(PACKAGE, "NumericKinematic", "NumericKinematic"))
