#!/usr/bin/env python
PACKAGE = "masterslave"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("StartOpenIGTL", bool_t, 0,"start OpenIGTLinkCommunication",False)

exit(gen.generate(PACKAGE, "RosOpenIGTLBridge", "RosOpenIGTLBridge"))
