<?xml version="1.0"?>
<launch>
	<arg name="TestDevice" value="Joy"/>
	<node pkg="masterslave" type="controldevice" name="$(arg TestDevice)" args="$(arg TestDevice)" output="screen">
		<param name="button/6" type="string" value="close_gripper"/>
		<param name="button/5" type="string" value="open_gripper"/>
	</node>
	<node respawn="true" pkg="joy" type="joy_node" name="joystick">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12"/>
		<param name="autorepeat_rate" value="60"/>
	</node>
	<node pkg="masterslave" type="masterslave" name="MasterSlave" args="$(arg TestDevice)" output="screen"/>

</launch>

