<launch>
	<node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
		<param name="image_height" value="720" />
		<param name="image_width" value="1280" />
		<param name="camera_frame_id" type="string" value="/camera" />
		<!--<param name="framerate" value="60" />
		<param name="sharpness" value="30" />
		<param name="focus" value="60" /> -->
	</node>
	<node ns="camera" pkg="image_proc" type="image_proc" name="image_proc_node" output="screen"/>
	
	<arg name="marker_size" default="0.8" />
	<arg name="num_of_markers" default="5" />
        <arg name="max_new_marker_error" default="0.04" />
        <arg name="max_track_error" default="0.1" />

        <arg name="cam_image_topic" default="/camera/image_color" />
        <arg name="cam_info_topic" default="/camera/camera_info" />   
        <arg name="output_frame" default="/camera" />

        <node name="ar_track_alvar" pkg="ar_track_alvar" type="trainMarkerBundle" respawn="false" output="screen" args=" $(arg num_of_markers) $(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
</launch>

