<?xml version="1.0"?>
<launch>
	<arg name="TestDevice" value="Spacenav"/>
	<include file="$(find masterslave)/launch/VisualServoingBasic.launch"/>	
	<!--<node pkg="masterslave" type="MasterSlaveManipulation" name="MasterSlaveManipulation" args="$(arg TestDevice)" output="screen"/>-->
	<node pkg="masterslave" type="NumericKinematic" name="NumericKinematic" output="log"/>
	<node pkg="masterslave" type="NumericKinematicCommander" name="NumericKinematicCommander" args="$(arg TestDevice)" output="screen"/>
	
</launch>
