<?xml version="1.0"?>
<launch>
	<arg name="TestDevice" value="Spacenav"/>
	<node pkg="masterslave" type="controldevice" name="$(arg TestDevice)" args="$(arg TestDevice)" output="screen">
		<param name="rotGain" value="0.01"/>
		<param name="transGain" value="0.01"/>
		<param name="button/0" type="string" value="close_gripper"/>
		<param name="button/1" type="string" value="open_gripper"/>
	</node>
	<node respawn="true" pkg="spacenav_node" type="spacenav_node" name="$(arg TestDevice)_node">
		<param name="dev" type="string" value="/dev/input/js1" />
		<param name="deadzone" value="0.12"/>
		<param name="autorepeat_rate" value="60"/>
	</node>
	<node pkg="masterslave" type="masterslave" name="MasterSlave" args="$(arg TestDevice)" output="screen">
		<param name="gripper_vel" value="20"/>
		<param name="Mode" type="string" value="Robot"/>
	</node>

</launch>

