<?xml version="1.0"?>
<launch>
	<arg name="TestDevice" value="Spacenav"/>
	<include file="$(find masterslave)/launch/BasicUrsula.launch"/>
	<node pkg="masterslave" type="ursulatask" name="UrsulaTask" args="$(arg TestDevice)" output="screen"/>
	<node pkg="masterslave" type="rosopenigtlbridge" name="RosOpenIGTLBridge" output="screen"/>
	<node pkg="masterslave" type="ursulakinematics" name="UrsulaKinematics" output="screen"/>

</launch>

