<?xml version="1.0"?>
<launch>
	<arg name="TestDevice" value="Spacenav"/>
	<include file="$(find masterslave)/launch/BasicUrsula.launch"/>
	<node pkg="masterslave" type="laparoscopetask" name="LaparoscopeTask" args="$(arg TestDevice)" output="screen"/>
	<node pkg="masterslave" type="rosopenigtlbridge" name="RosOpenIGTLBridge" output="screen"/>
	<node pkg="masterslave" type="laparoscopekinematics" name="LaparoscopeKinematics" output="screen"/>

</launch>

